/* ***** TAG SETTING ***** */
* {
    /* Box Model */
    box-sizing: border-box;
}
:root {
    --primary-color: #143c3c;
}
html,
body {
    /* Other */
    /* Scroll Smooth for All Browser */
    scroll-behavior: smooth;
}
html {
    /* Text */
    font-size: 62.5%;
}
body {
    /* Color */
    background-color: #efefef;
    /* Text */
    font: 1.6rem "Poppins", "Public Sans", "Sonsie One", sans-serif;
}
a {
    text-decoration: none;
}
input,
textarea,
button,
select {
    font-family: inherit;
    font-size: inherit;
}
/* ********************** */

/* ************************ */
/* ***** PC INTERFACE ***** */
/* ************************ */
/* +++++ COMMON CLASS +++++ */
.display-area {
    /* Box Model */
    display: block;
    width: 1140px;
    max-width: calc(100% - 40px);
    margin: 0 auto;
}
.row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.btn {
    /* Variable */
    --min-width-btn: 173px;
    --height-btn: 57px;
    /* Box Model */
    display: inline-block;
    min-width: var(--min-width-btn);
    height: var(--height-btn);
    padding: 0 52px;
    border-radius: 99px;
    /* Color */
    color: #fff;
    background-color: var(--primary-color);
    /* Text */
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: var(--height-btn);
    /* Other */
    cursor: pointer;
    transition-duration: 0.3s;
}
.btn:hover {
    /* Color */
    color: var(--primary-color);
    background-color: #e2eddf;
}
.section-title {
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 500;
    font-size: 1.6rem;
}
.section-heading {
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 600;
    font-size: 4.2rem;
    line-height: 1.24;
}
/* ++++++++++++++++++++++++ */
/* ===== HEADER ===== */
/* ----- Header Top ----- */
.header-top {
    /* Box Model */
    margin-top: 8px;
    padding: 20px 0 13px;
    /* Color */
    background-color: #efefef;
}
.header-top--sticky {
    /* Positioning */
    position: sticky;
    top: 0;
    z-index: 1;
}
/* Logo */
.header-top__logo-link {
    display: flex;
}
/* Navigation */
.header-top__nav {
    /* Box Model */
    margin-left: 386px;
}
.header-top__nav-list {
    /* Display */
    display: flex;
}
.header-top__nav-link {
    /* Positioning */
    position: relative;
    /* Box Model */
    padding: 8px 20px;
    /* Color */
    color: #575d5e;
    /* Text */
    font-family: "Public Sans", sans-serif;
    font-weight: 500;
    font-size: 1.8rem;
}
.header-top__nav-link:hover,
.header-top__nav-link--active {
    /* Color */
    color: #152427;
}
.header-top__nav-link--active::before {
    /* Positioning */
    position: absolute;
    bottom: -10px;
    left: 20px;
    /* Box Model */
    display: inline-block;
    content: "";
    width: 16px;
    height: 2px;
    /* Color */
    background-color: var(--primary-color);
}
.header-top__cta {
    /* Box Model */
    margin-left: auto;
}
.header-top__menu-mobile {
    /* Box Model */
    display: none;
    margin-left: 30px;
}
/* ----- ---------- ----- */
/* ----- Header Hero ----- */
.header-hero {
    /* Text */
    font-family: "Public Sans", sans-serif;
}
.header-hero__line {
    /* Box Model */
    height: 1px;
    /* Color */
    /* background-color: red; */
    background: linear-gradient(
        90deg,
        #d5d5d500 0,
        #dddcdc 50%,
        #d5d5d500 100%
    );
}
/* Header Hero */
.header-hero__row {
    /* Positioning */
    position: relative;
    /* Box Model */
    margin-top: 60px;
}
.header-hero__content {
    /* Display & Box Model */
    flex: 0 0 35%;
    max-width: 35%;
}
.header-hero__heading {
    /* Box Model */
    width: 368px;
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 800;
    font-size: 5rem;
    line-height: 1.2;
}
.header-hero__desc {
    /* Box Model */
    margin-top: 20px;
    /* Color */
    color: #575d5e;
    /* Text */
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.56;
}
.header-hero__cta {
    /* Display & Box Model */
    display: flex;
    align-items: center;
    column-gap: 30px;
    margin-top: 42px;
}
.header-hero__btn {
    /* Box Model */
    padding: 0 35px;
}
.header-hero__play-button {
    /* Display & Box Model*/
    display: flex;
    align-items: center;
    column-gap: 10px;
    height: 60px;
    padding: 0;
    border: none;
    /* Color */
    color: #152427;
    background-color: transparent;
    /* Text */
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.8rem;
    /* Other */
    cursor: pointer;
}
.header-hero__half-circle-border {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 4px solid;
    border-radius: 50%;
    /* Color */
    border-color: var(--primary-color);
    border-bottom-color: transparent;
    border-right-color: transparent;
    /* Other */
    transform: rotate(-45deg);
    transition-duration: 0.3s;
}
.header-hero__play-btn {
    /* Box Model */
    width: 45px;
    height: 45px;
    border-radius: 50%;
    /* Color */
    color: #fff;
    background-color: #83a17d;
    /* Text */
    line-height: 45px;
    /* Other */
    transform: rotate(45deg);
}
.header-hero__play-button:hover {
    /* Color */
    color: #83a17d;
}
.header-hero__play-button:hover .header-hero__half-circle-border {
    /* Color */
    border-color: #83a17d;
    border-bottom-color: transparent;
    border-right-color: transparent;
    /* Other */
    transform: rotate(135deg);
}
.header-hero__play-button:hover .header-hero__play-btn {
    /* Color */
    background-color: var(--primary-color);
    /* Other */
    transform: rotate(-135deg);
}
/* Hero Media */
.header-hero__media {
    /* Positioning */
    position: relative;
    /* Display & Box Model */
    flex: 0 0 65%;
    max-width: 65%;
}
.header-hero__bgc-blu {
    z-index: -1;
    position: absolute;
    top: 122px;
    left: 203px;
    width: 340px;
    height: 340px;
    border-radius: 50%;
    background-color: #4dbb9a;
    filter: blur(137px);
}
.header-hero__images {
    /* Display */
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.header-hero__img {
    /* Box Model */
    width: 202px;
    height: 466px;
    border-radius: 110px;
    /* Other */
    object-fit: cover;
}
.header-hero__img:nth-child(2) {
    /* Other */
    transform: translateY(77px);
}
/* Hero Decor */
.header-hero__decor {
    /* Positioning */
    position: absolute;
    top: -30px;
    left: 268px;
}
.header-hero__decor:last-child {
    /* Positioning */
    top: 240px;
    left: 500px;
    /* Other */
    transform: rotate(180deg);
}
/* ----- ----------- ----- */
/* ===== ====== ===== */
/* ===== MAIN ===== */
/* ----- Brands ----- */
.brands {
    /* Box Model */
    margin-top: 205px;
}
.brands-row {
    /* Box Model */
    padding: 75px 120px;
    border-radius: 100px;
    /* Color */
    background-color: #e2eddf;
}
.brands__list,
.brands__item {
    /* Display */
    display: flex;
    align-items: center;
    /* Color */
    color: var(--primary-color);
}
.brands__list {
    /* Display */
    flex-wrap: wrap;
    /* Box Model */
    width: 100%;
}
.brands__item {
    /* Display */
    flex: 0 0 20%;
    max-width: 20%;
    justify-content: center;
}
.brands__item:first-child,
.brands__item:nth-child(2) {
    justify-content: flex-start;
}
.brands__item:nth-child(4),
.brands__item:last-child {
    justify-content: flex-end;
}
.brands__item:nth-child(1) .brands__logo-name {
    /* Text */
    font-weight: 500;
    font-size: 3.1rem;
}
.brands__item:nth-child(2) .brands__logo-name {
    /* Box Model */
    margin-left: 10px;
    /* Text */
    font-weight: 600;
    font-size: 3.2rem;
}
.brands__item:nth-child(3) .brands__logo-name {
    /* Box Model */
    margin-left: 10px;
    /* Color */
    color: #163c35;
    /* Text */
    font-weight: 400;
    font-size: 2.6rem;
}
.brands__item:nth-child(4) .brands__logo-name {
    /* Text */
    font-family: "Sonsie One", sans-serif;
    font-weight: 400;
    font-size: 2.3rem;
}
.brands__item:nth-child(5) .brands__logo-name {
    /* Box Model */
    margin-left: 10px;
    /* Text */
    font-weight: 600;
    font-size: 1.9rem;
}
/* ----- ------ ----- */
/* ----- Services ----- */
.service {
    /* Box Model */
    margin-top: 105px;
}
.service-body {
    /* Positioning */
    position: relative;
}
.service__title {
    /* Positioning */
    position: relative;
    /* Box Model */
    margin-left: 45px;
}
.service__title::before {
    /* Positioning */
    position: absolute;
    top: 10px;
    left: -45px;
    /* Display & Box Model */
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    /* Color */
    background-color: #152427;
}
.service__heading {
    /* Positioning */
    position: relative;
    /* Box Model */
    width: 520px;
    margin-top: 20px;
}
.service__heading::after {
    /* Positioning */
    position: absolute;
    bottom: 22px;
    right: 100px;
    /* Display & Box Model */
    display: inline-block;
    content: "";
    width: 66px;
    height: 2px;
    /* Color */
    background-color: #152427;
}
/* Service List */
.service-list {
    /* Display & Box Model */
    display: flex;
    justify-content: center;
    column-gap: 16px;
    margin-top: 75px;
}
.service-list__item {
    /* Display & Box Model*/
    flex: 0 0 370px;
    max-width: 370px;
    border-radius: 20px;
    /* Color */
    background-color: #fff;
    /* Other */
    overflow: hidden;
    transition: 0.3s;
}
.service-list__item:hover {
    /* Other */
    box-shadow: -6px 9px 64px -4px rgba(118, 118, 118, 0.25);
}
.service-list__images {
    /* Box Model */
    height: 318px;
    /* Other */
    overflow: hidden;
}
.service-list__img {
    /* Box Model */
    width: 100%;
    height: 100%;
    /* Other */
    object-fit: cover;
    transition: 0.3s;
}
.service-list__images:hover .service-list__img {
    /* Other */
    transform: scale(1.2);
}
.service-list__content {
    /* Box Model */
    padding: 24px 18px;
}
.service-list__name {
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1;
}
.service-list__desc {
    /* Box Model */
    width: 270px;
    margin-top: 18px;
    /* Color */
    color: #7d8188;
    /* Text */
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
}
/* Service Buttons */
.service__buttons {
    /* Positioning */
    position: absolute;
    top: 85px;
    right: 72px;
    /* Display */
    display: flex;
    column-gap: 17px;
}
.service__btn {
    /* Box Model */
    width: 54px;
    height: 54px;
    border: none;
    border-radius: 50%;
    /* Color */
    color: #152427;
    background-color: #e2eddf;
    /* Other */
    transition: 0.3s;
}
.service__btn:hover {
    /* Color */
    color: #fff;
    background-color: #152427;
}
.service__btn-mobile {
    /* Display */
    display: none;
}
/* ----- -------- ----- */
/* ----- About Us ----- */
.about {
    /* Box Model */
    margin-top: 150px;
}
.about__row {
    align-items: normal;
}
/* About Media */
.about-media {
    /* Positioning */
    position: relative;
    /* Display & Box Model */
    flex: 0 0 57%;
    max-width: 57%;
}
.about-media__img {
    /* Positioning */
    position: absolute;
    /* Box Model */
    width: 284px;
    height: 480px;
    border-radius: 210px;
    /* Color */
    box-shadow: 0px 4px 234px 11px rgba(59, 137, 71, 0.25);
    /* Other */
    object-fit: cover;
}
.about-media__img:nth-child(1) {
    /* Positioning */
    top: 90px;
    left: 0;
}
.about-media__img:nth-child(2) {
    /* Positioning */
    top: 12px;
    left: 305px;
}
.about-media__decor-img {
    /* Positioning */
    position: absolute;
    top: -33px;
    left: 46px;
    /* Box Model */
    width: 500px;
}
/* About Media Block */
.about-media-block {
    /* Positioning */
    position: absolute;
    top: 417px;
    left: 457px;
    /* Box Model */
    padding: 10px 17px;
    border-radius: 8px;
    /* Color */
    background-color: #fff;
    box-shadow: 0px 7px 54px rgba(154, 154, 154, 0.25);
    /* Text */
    font-family: "Public Sans", sans-serif;
}
.about-media-block__title {
    /* Box Model */
    margin-top: 10px;
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 600;
    font-size: 1.4rem;
}
.about-media-block__total {
    /* Box Model */
    margin-top: 6px;
    /* Color */
    color: #575d5e;
    /* Text */
    font-weight: 400;
    font-size: 1rem;
    /* Other */
    opacity: 0.4;
}
.about-media-block__percent {
    /* Box Model */
    margin-top: 10px;
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 500;
    font-size: 1rem;
}
.about-progress-bar {
    /* Box Model */
    margin-top: 3px;
}
.about-progress-bar__valuemax {
    /* Box Model */
    width: 100%;
    height: 2px;
    border-radius: 10px;
    /* Color */
    background-color: #eaeaea;
}
.about-progress-bar__valuenow {
    /* Box Model */
    width: 40%;
    height: 2px;
    border-radius: 10px;
    /* Color */
    background-color: #83a17d;
}
.about-media-block__status {
    /* Box Model */
    margin-top: 3px;
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 500;
    font-size: 1rem;
    text-align: right;
}
.about-media-block__circle-decor {
    /* Box Model */
    width: 11px;
    height: 11px;
    padding: 3px;
    border-radius: 50%;
    /* Color */
    background-color: #eaeaea;
}
.about-media-block__circle {
    /* Box Model */
    width: 5px;
    height: 5px;
    border-radius: 50%;
    /* Color */
    background-color: #143c3c;
}
/* About Team */
.about-team {
    /* Display & Box Model */
    display: flex;
    column-gap: 36px;
    align-items: center;
    margin-top: 4px;
}
.about-team__name {
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 500;
    font-size: 1rem;
}
.about-team__avatar-list {
    /* Display & Box Model */
    display: flex;
    align-items: center;
}
.about-team__avatar-item {
    /* Box Model */
    width: 16px;
    height: 16px;
    padding: 1px;
    border-radius: 50%;
    margin-left: -6px;
    /* Color */
    background-color: #fff;
}
.about-team__avatar {
    /* Box Model */
    width: 14px;
    height: 14px;
    border-radius: 50%;
    /* Other */
    object-fit: cover;
}
/* About Content */
.about__content {
    /* Display */
    flex: 0 0 43%;
    max-width: 43%;
}
.about__title {
    /* Positioning */
    position: relative;
    /* Box Model */
    margin-left: 46px;
}
.about__title::before {
    /* Positioning */
    position: absolute;
    top: 12px;
    left: -46px;
    /* Display & Box Model */
    display: inline-block;
    content: "";
    width: 25px;
    height: 1px;
    /* Color */
    background-color: #152427;
}
.about__heading {
    /* Box Model */
    margin-top: 20px;
}
.about__desc {
    /* Box Model */
    margin-top: 12px;
    /* Color */
    color: #7d8188;
    /* Text */
    font-weight: 500;
    line-height: 1.625;
}
.about-sub {
    /* Display & Box Model */
    display: flex;
    column-gap: 34px;
    align-items: center;
    margin-top: 36px;
}
.about-sub__percent {
    /* Color */
    color: #152427;
    /* Text */
    font-weight: 600;
    font-size: 4.2rem;
}
.about-sub__desc {
    /* Color */
    color: #7d8188;
    /* Text */
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.71;
}
.about__line {
    /* Box Model */
    height: 1px;
    margin-top: 20px;
    /* Color */
    background-color: #83a17d;
}
/* ----- -------- ----- */
/* ===== ==== ===== */
/* ************************ */

/* **************************** */
/* ***** MOBILE INTERFACE ***** */
/* **************************** */
@media (max-width: 46.25em) {
    .display-area {
        /* Box Model */
        width: 335px;
    }
    /* ===== HEADER ===== */
    /* ----- Header Top ----- */
    .header-top {
        /* Box Model */
        margin-top: 5px;
    }
    .header-top__logo {
        /* Box Model */
        height: 16px;
    }
    .header-top__nav {
        /* Display */
        display: none;
    }
    .header-top__cta {
        /* Variable */
        --min-width-btn: 92px;
        --height-btn: 32px;
        /* Box Model */
        padding: 0 25px;
        border: none;
        /* Text */
        font-weight: 600;
        font-size: 1.2rem;
    }
    .header-top__menu-mobile {
        display: block;
    }
    .header-hero__line {
        display: none;
    }
    /* ----- ---------- ----- */
    /* ----- Header Hero ----- */
    .header-hero__row {
        /* Box Model */
        margin-top: 55px;
    }
    .header-hero__content {
        /* Display & Box Model */
        flex-basis: 100%;
        max-width: 100%;
    }
    .header-hero__heading {
        /* Box Model */
        width: 233px;
        /* Text */
        font-size: 3rem;
        line-height: 1.33;
    }
    .header-hero__desc {
        /* Box Model */
        width: 240px;
        margin-top: 10px;
        /* Text */
        font-size: 1.4rem;
        line-height: 1.71;
    }
    .header-hero__cta {
        /* Display & Box Model */
        column-gap: 25px;
        margin-top: 16px;
    }
    .header-hero__btn {
        /* Variable */
        --min-width-btn: 107px;
        --height-btn: 35px;
        /* Box Model */
        padding: 0 20px;
        /* Text */
        font-size: 1.2rem;
    }
    .header-hero__play-button {
        /* Display & Box Model*/
        column-gap: 5px;
        height: 40px;
        /* Text */
        font-size: 1.4rem;
    }
    .header-hero__half-circle-border {
        /* Box Model */
        width: 40px;
        height: 40px;
        border-width: 3px;
    }
    .header-hero__play-btn {
        /* Box Model */
        width: 30px;
        height: 30px;
        /* Text */
        line-height: 30px;
    }
    .header-hero__play-icon {
        /* Box Model */
        height: 8px;
    }
    /* Hero Media */
    .header-hero__media {
        /* Display & Box Model */
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 65px;
    }
    .header-hero__bgc-blu {
        /* Positioning */
        top: 17px;
        left: 61px;
        /* Box Model */
        width: 205px;
        height: 205px;
    }
    .header-hero__images {
        /* Display */
        column-gap: 8.45px;
    }
    .header-hero__img {
        /* Box Model */
        width: 85.35px;
        height: 196.9px;
    }
    .header-hero__img:nth-child(2) {
        /* Other */
        transform: translateY(30px);
    }
    /* Hero Decor */
    .header-hero__decor {
        /* Positioning */
        top: 250px;
        left: 0px;
        /* Box Model */
        height: 100px;
    }
    .header-hero__decor:last-child {
        /* Positioning */
        top: 375px;
        left: 180px;
        /* Other */
        transform: rotate(180deg);
    }
    /* ----- ----------- ----- */
    /* ======================= */
    /* ===== MAIN ===== */
    /* ----- Brands ----- */
    .brands {
        /* Box Model */
        margin-top: 128px;
    }
    .brands-row {
        /* Box Model */
        padding: 55px 30px;
        border-radius: 30px;
    }
    .brands__list {
        justify-content: center;
        row-gap: 25px;
    }
    .brands__item {
        /* Display */
        flex: 0 0 50%;
        max-width: 50%;
        justify-content: center;
    }
    .brands__item:first-child,
    .brands__item:nth-child(2) {
        justify-content: center;
    }
    .brands__item:nth-child(4),
    .brands__item:last-child {
        justify-content: flex-end;
    }
    .brands__item:nth-child(1) .brands__logo-name {
        /* Text */
        font-size: 2.4rem;
    }
    .brands__item:nth-child(2) .brands__logo-icon {
        /* Box Model */
        height: 35px;
    }
    .brands__item:nth-child(2) .brands__logo-name {
        /* Text */
        font-size: 1.9rem;
    }
    .brands__item:nth-child(3) {
        /* Display */
        justify-content: flex-start;
    }
    .brands__item:nth-child(3) .brands__logo-icon {
        /* Box Model */
        height: 30px;
    }
    .brands__item:nth-child(3) .brands__logo-name {
        /* Box Model */
        margin-left: 5px;
        /* Text */
        font-weight: 500;
        font-size: 2rem;
    }
    .brands__item:nth-child(4) .brands__logo-name {
        /* Text */
        font-size: 1.7rem;
    }
    .brands__item:nth-child(5) .brands__logo-icon {
        /* Box Model */
        height: 30px;
    }
    .brands__item:nth-child(5) .brands__logo-name {
        /* Box Model */
        margin-left: 10px;
        /* Text */
        font-size: 2.2rem;
    }
    /* ----- ------ ----- */
    /* ----- Services ----- */
    .service__heading {
        /* Box Model */
        width: 280px;
        margin-top: 5px;
        /* Text */
        font-size: 3rem;
        line-height: 1.33;
    }
    .service__heading::after {
        /* Positioning */
        bottom: 18px;
        right: 65px;
    }
    /* Service List */
    .service-list {
        /* Box Model */
        margin-top: 15px;
    }
    .service-list__item {
        /* Display & Box Model*/
        flex: 0 0 260px;
        max-width: 260px;
    }
    .service-list__item:first-child,
    .service-list__item:last-child {
        display: none;
    }
    .service-list__images {
        /* Box Model */
        height: 244px;
    }
    .service-list__content {
        /* Box Model */
        padding: 16px 13px;
    }
    .service-list__name {
        /* Text */
        font-size: 1.8rem;
        line-height: 1.22;
    }
    .service-list__desc {
        /* Box Model */
        width: 195px;
        margin-top: 6px;
        /* Text */
        font-size: 1rem;
        line-height: 2;
    }
    /* Service Buttons */
    .service__buttons {
        /* Positioning */
        top: 344px;
        left: 0;
        /* Display Box Model */
        width: 100%;
        column-gap: 269px;
    }
    .service__btn {
        /* Display */
        display: none;
    }
    .service__btn-mobile {
        /* Display & Box Model */
        display: block;
        width: 33px;
        height: 33px;
    }
    /* ----- -------- ----- */
    /* ----- About Us ----- */
    .about {
        /* Box Model */
        margin-top: 50px;
    }
    .about__row {
        align-items: center;
    }
    /* About Media */
    .about-media {
        /* Display & Box Model */
        flex-basis: 100%;
        max-width: 100%;
    }
    .about-media__img {
        /* Box Model */
        width: 152px;
        height: 257px;
    }
    .about-media__img:nth-child(1) {
        /* Positioning */
        top: 40px;
        left: 0;
    }
    .about-media__img:nth-child(2) {
        /* Positioning */
        top: 0;
        left: 162px;
    }
    .about-media__decor-img {
        /* Positioning */
        top: 0;
        left: 0;
        /* Box Model */
        width: 286px;
    }
    /* About Media Block */
    .about-media-block {
        /* Positioning */
        top: 215px;
        left: 162px;
    }
    /* About Content */
    .about__content {
        /* Display & Box Model */
        flex-basis: 100%;
        max-width: 100%;
        margin-top: 415px;
    }
    .about__heading {
        /* Box Model */
        width: 263px;
        margin-top: 12px;
        /* Text */
        font-size: 3rem;
        line-height: 1.33;
    }
    .about__desc {
        /* Box Model */
        width: 310px;
        margin-top: 12px;
        /* Text */
        font-size: 1.4rem;
    }
    .about-sub {
        /* Display & Box Model */
        column-gap: 15px;
        margin-top: 30px;
    }
    .about-sub__percent {
        /* Text */
        font-size: 2.6rem;
    }
    .about-sub__desc {
        /* Text */
        font-size: 1rem;
        line-height: 2;
    }
    .about__line {
        /* Box Model */
        margin-top: 10px;
    }
    /* ----- -------- ----- */
    /* ===== ==== ===== */
}
/* ************************ */
